<div class="container mt-4">
    <div class="row">
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-dimensions">
                    <div class="card-body">
                        <h5 class="card-title">Customer Wait Time</h5>
                        <p class="card-text scroll">{{CWTDesc}}</p>
                        <button mat-button>VIEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-dimensions">
                    <div class="card-body">
                        <h5 class="card-title">Driver Hustle Time</h5>
                        <p class="card-text scroll">{{HustleDesc}}</p>
                        <button mat-button>VIEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-dimensions">
                    <div class="card-body">
                        <h5 class="card-title">To-The-Door Statistics</h5>
                        <p class="card-text scroll">{{TTDStatDesc}}</p>
                        <button mat-button>VIEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-dimensions">
                    <div class="card-body">
                        <h5 class="card-title">Customer Feedback Details</h5>
                        <p class="card-text scroll">{{FeedbackDesc}}</p>
                        <button mat-button>VIEW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>