.card-component {
    margin: 100px;
    display: flex;
    // max-width: 500pt;
}
.mat-card {
    margin: 5pt;
    width: 50%;
}
.mat-button {
    background-color: #77CC66;
    width: 100%;
}
.mat-card-actions{
    display:flex;
    margin-bottom: 0%;
}