.mat-button {
    background-color: #77CC66;
    width: 90%;
    position: absolute;
    right: 5%;
    bottom: 10pt;
}
.card-dimensions{
    width: 25rem;
    height: 15rem;
}
.scroll {
    max-height: 7.9rem;
    overflow-y: auto;
}